Repository madfam-io/primavera3d: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings 0"
  ],
  "*.{json,md,mdx,css,scss}": [
    "prettier --write"
  ]
}

fix: resolve all build errors and dependency issues
  apps/docs/app/page.tsx
  apps/docs/package.json
  apps/web/app/page.tsx
  apps/web/package.json
  eslint.config.js
  package-lock.json
  package.json
  packages/viewer-3d/src/LoadingSpinner.js
  packages/viewer-3d/src/LoadingSpinner.tsx
  packages/viewer-3d/src/ModelViewer.d.ts
  packages/viewer-3d/src/ModelViewer.d.ts.map
  packages/viewer-3d/src/ModelViewer.js
  packages/viewer-3d/src/ModelViewer.tsx
  packages/viewer-3d/src/Scene3D.d.ts
  packages/viewer-3d/src/Scene3D.d.ts.map
  packages/viewer-3d/src/Scene3D.tsx
  packages/viewer-3d/src/index.d.ts
  packages/viewer-3d/src/index.d.ts.map
  packages/viewer-3d/src/index.js
  packages/viewer-3d/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: configure Vercel deployment with correct output directory
  vercel.json
Due: prettier --write

fix: add missing routes and fix React runtime errors
  apps/web/app/about/page.tsx
  apps/web/app/contact/page.tsx
  apps/web/app/services/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: resolve React version conflicts with explicit overrides
  package-lock.json
  package.json
Due: prettier --write

fix: remove problematic 3D components to resolve production crash
  apps/web/app/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: implement immediate priorities for production site
  apps/web/app/actions/contact.ts
  apps/web/app/contact/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/ContactForm.tsx
  apps/web/package.json
  apps/web/public/robots.txt
  apps/web/public/site.webmanifest
  package-lock.json
Due: prettier --write, eslint --fix --max-warnings 0

feat: implement premium visual design system with glassmorphism and neon effects
  apps/web/app/contact/page.tsx
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/app/services/page.tsx
  apps/web/components/CTASection.tsx
  apps/web/components/ContactForm.tsx
  apps/web/components/FeaturedProjects.tsx
  apps/web/components/HeroSection.tsx
  apps/web/components/ServicesOverview.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: resolve hero section readability issues with clean design approach
  apps/web/app/page.tsx
  apps/web/components/HeroSection.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: implement comprehensive design system cohesiveness overhaul
  apps/web/app/about/page.tsx
  apps/web/app/contact/page.tsx
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/components/CTASection.tsx
  apps/web/components/FeaturedProjects.tsx
  apps/web/components/ServicesOverview.tsx
  apps/web/components/ui/Button.tsx
  apps/web/components/ui/Card.tsx
  apps/web/components/ui/PageWrapper.tsx
  apps/web/components/ui/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: resolve TypeScript build errors and clean up component imports
  apps/web/app/about/page.tsx
  apps/web/app/portfolio/page.tsx
  apps/web/components/CTASection.tsx
  apps/web/components/ContactForm.tsx
  apps/web/components/FeaturedProjects.tsx
  apps/web/components/ProjectCard.tsx
  apps/web/components/Scene3DHero.tsx
  apps/web/components/ui/Button.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: update domain references from primavera3d.com to primavera3d.pro
  apps/web/components/Footer.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: Update configuration and environment files
  .env.example
  apps/web/Dockerfile
  apps/web/Dockerfile.dev
  apps/web/app/api/health/route.ts
  docker-compose.yml
Due: prettier --write, eslint --fix --max-warnings 0

feat: add QuoteCalculator component and update config
  .enclii.yml
  .env.example
  .npmrc
  apps/web/components/QuoteCalculator.tsx
  apps/web/package.json
  package-lock.json
Due: prettier --write, eslint --fix --max-warnings 0

chore: ecosystem alignment - standardize pnpm 9.15.0 and framework versions
  README.md
  apps/docs/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/ui/package.json
  packages/viewer-3d/package.json
Due: prettier --write

chore: add pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: remove unpublished @madfam/analytics dependency
  apps/web/package.json
Due: prettier --write

chore: add CODEOWNERS, PR template, and proprietary license
  .github/CODEOWNERS
  .github/pull_request_template.md
  LICENSE
Due: prettier --write

chore: standardize all package versions to 0.1.0
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
Due: prettier --write

chore(license): update package.json license field
  apps/web/__tests__/Button.test.tsx
  apps/web/__tests__/Card.test.tsx
  package.json
  pnpm-lock.yaml
  test/setup.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: organize documentation structure
  docs/architecture/SOFTWARE_APEC.md
Due: prettier --write

feat: add full quote-to-checkout flow with Janua payments
  apps/web/app/orders/success/page.tsx
  apps/web/app/quote/page.tsx
  apps/web/components/QuoteCheckout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add /demo route with interactive quote calculator
  apps/web/app/demo/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove /demo route - Primavera3D uses real Cotiza quote calculator
  apps/web/app/demo/page.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs: add comprehensive README.md
  README.md
Due: prettier --write

docs: add CHANGELOG.md following Keep a Changelog format
  CHANGELOG.md
Due: prettier --write

docs: add SECURITY.md with security policy and measures
  SECURITY.md
Due: prettier --write

docs: add INDEX.md for documentation navigation
  docs/INDEX.md
Due: prettier --write

chore: update package.json dependencies
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/viewer-3d/package.json
Due: prettier --write

fix: update web port to 3020 per PORT_ALLOCATION.md
  apps/web/package.json
Due: prettier --write

chore: migrate org from madfam-io to madfam-org
  .enclii.yml
  .github/CODEOWNERS
  apps/docs/app/.!5978!favicon.ico
  apps/docs/app/fonts/.!5992!GeistMonoVF.woff
  apps/docs/app/fonts/.!6006!GeistVF.woff
  apps/web/app/.!6370!favicon.ico
  apps/web/app/fonts/.!6384!GeistMonoVF.woff
  apps/web/app/fonts/.!6398!GeistVF.woff
Due: none
